<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">{% endblock %}
    <title>Mi Sitio Web</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Acerca de</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </nav>
    <header>
        <h1>Bienvenido a mi sitio web</h1>
    </header>
    <div class="content">
        {% block content %}
        <!-- Aquí se insertará el contenido de las otras plantillas -->
        {% endblock %}
    </div>
    {% block footer %}
    <footer>
        <p>&copy; 2023 Mi Sitio Web</p>
    </footer>
    {% endblock %}
</body>
</html>